<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>通讯录</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Vue/css/toastr.css">
    <style type="text/css">
        table thead tr th {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">

    <div id="searchDiv">
        <div class="row" >
            <div class="col-lg-6">
                <div class="input-group">
                    <input v-model="message"  type="text"  class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button @click="search" class="btn btn-default" type="button">根据名字搜索</button>
                    </span>
                    <input   v-show="result!=null" v-model="result" type="text" class="form-control col-md-6" placeholder="搜索结果">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>


    <div style="padding:20px;" id="app">
        <div class="panel panel-primary">
            <!--            这里的部门管理要根据你自己功能改-->
            <div class="panel-heading">通讯录</div>
            <table class="table table-bordered table-hover table-striped text-center">
                <thead>
                <!--                下面也是动态改-->
                <tr>
                    <th>员工姓名</th>
                    <th>性别</th>
                    <th>所在部门</th>
                    <th>职位</th>
                    <th>联系电话</th>
                    <th>第一印象</th>
                </tr>
                </thead>
                <tbody>
                <!--                row.xxxx   row后面写后端传过来的json对象属性-->
                <template v-for="(row, index) in data ">
                    <tr v-if="index>=(curpage-1)*pagesize&&index<curpage*pagesize">
                        <td>{{row.NAME}} </td>
                        <td>{{row.gender}}</td>
                        <td>{{row.dept_name}}</td>
                        <td>{{row.job_name}}</td>
                        <td>{{row.tel}}</td>
                        <td>
                            <!-- 按钮触发模态框 通过data-target="#updateDeptModal"，找到相对应的id的模态框 -->
                            <button class="btn btn-primary "  @click="like(index)">喜欢(❤ ω ❤)</button>
                            <a @click="dislike(index)" class="btn btn-danger">无语😶</a>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <nav style="float:right;">
            <ul class="pagination pagination-lg">
                <!--                如果当前页面是第一页，那么就让上一页就点不了-->
                <li v-if="curpage==1" class="disabled"><a href="#">上一页</a></li>
                <!--                不是第一页的话，触发PrePage()方法-->
                <li v-else v-on:click="PrePage()"><a href="#">上一页</a></li>
                <!--                遍历所有页面并且显示-->
                <template v-for="page in pageCount">
                    <!--                    如果页面==当前页，让按钮的class="active"-->
                    <li v-if="page==curpage" class="active" v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                    <li v-else v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                </template>
                <!--                下一页与上一页同理-->
                <li v-if="curpage==pageCount" class="disabled"><a href="#">下一页</a></li>
                <li v-else v-on:click="NextPage()"><a href="#">下一页</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--下面引用js文件，有点多，以后优化-->
<script src="/Vue/js/jquery.js"></script>
<script src="/Vue/js/vue.js"></script>
<script src="/js/toastr.min.js"></script>
<script>
    // 设置提示框的属性
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "5500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
</script>
<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/Vue/js/axios.js"></script>
<script src="/Vue/js/lodash.min.js"></script>
<script type="text/javascript">
    //搜索栏功能实现
    let searchDiv = new Vue({
        el:'#searchDiv',
        data(){
            return{
                result:null,
                message:null
            }
        },
        methods:{
            search: function () {
                let tempData = vue.data;
                for (let temp of tempData) {
                    if (this.message == temp.deptName){
                        toastr.success('成功找到！');
                        toastr.info('id:'+temp.deptId+'   名字:'+temp.deptName+'   地址:'+temp.deptLoc+'  描述:'+temp.deptIntro);
                        this.result = 'id为'+temp.deptId+'   名字为'+temp.deptName+'   地址为'+temp.deptLoc+'  描述为'+temp.deptIntro;
                        return;
                    }
                }
                this.result=null;
                toastr.error('未找到');
            }
        },
    });


    let vue = new Vue({
        el: '#app',    //绑定元素
        data () {
            //初始化data
            return {
                data: null,             //data接收后端传来的数据
                pagesize: 6,            //默认每一页显示6页
                curpage: 1,             //当前页面，默认为第一页
                pageCount: null,        //页面总数
                emp: null              //组件之间传递参数的对象，这里指的是data一个特定的dept，
                                        // 要根据后端传来的json对象动态修改，这里后端传来的json对象为dept，故写为dept
            }
        },
        methods: {
            //喜欢函数
            like: function (index) {
                //使用let定义局部变量，获取删除部门的deptId
                let deptId = this.data[index].deptId;
                if(confirm('确定删除该部门吗？部门id为'+deptId)){
                    // 发起ajax请求使后端进行删除操作并返回操作结果
                    axios
                        .delete('/api/dept/'+deptId)// 根据RestFul风格，以delete请求发送
                        //这里使用了箭头函数，进一步简化了匿名函数的书写，获取response的data数据，若为1则表示删除成功
                        .then(response => response.data==1?(toastr.success('删除成功')):toastr.error('删除失败'))
                        //出错处理，若出错请到控制台查看出错信息
                        .catch(function(error){
                            console.log(error);
                        });
                    this.data.splice(index,1);//删除选定的部门
                }
            },
            dislike: function (index) {
                //使用let定义局部变量，获取删除部门的deptId
                let deptId = this.data[index].deptId;
                if(confirm('确定删除该部门吗？部门id为'+deptId)){
                    // 发起ajax请求使后端进行删除操作并返回操作结果
                    axios
                        .delete('/api/dept/'+deptId)// 根据RestFul风格，以delete请求发送
                        //这里使用了箭头函数，进一步简化了匿名函数的书写，获取response的data数据，若为1则表示删除成功
                        .then(response => response.data==1?(toastr.success('删除成功')):toastr.error('删除失败'))
                        //出错处理，若出错请到控制台查看出错信息
                        .catch(function(error){
                            console.log(error);
                        });
                    this.data.splice(index,1);//删除选定的部门
                }
            },
            //上一页方法
            PrePage: function (event) {
                if (this.curpage > 1) {
                    this.curpage = this.curpage - 1;
                }
            },
            //下一页方法
            NextPage: function (event) {
                if (this.curpage < this.pageCount) {
                    this.curpage = this.curpage + 1;
                }
            },
            //点击页码的方法
            NumPage: function (num, event) {
                if (this.curpage === num) {
                    return;
                }
                this.curpage = num;
            }
        },
        //当vue挂载成功时，自动调用以下方法获取data数据
        mounted: function () {
            axios
                .get('/api/personCenter/getAB')
                .then(response => (this.data = response.data))
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
        },
        // 当数据更新时，自动渲染页面
        updated:function () {
            this.pageCount = Math.ceil(this.data.length / this.pagesize);
        }
    });
</script>
</body>
</html>