<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>报销中心</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Vue/css/toastr.css">
    <link rel="stylesheet" href="/Vue/css/bootstrap-datetimepicker.css">

    <style type="text/css">
        table thead tr th {
            text-align: center;
        }
        /*这个样式，是让表格在中心*/
    </style>
    <style>
        #avatar{
            width: 30px;
            height: 30px;
            display: inline;
        }
        body{
            margin: 0;
            padding: 0;
            background-color: #333333;
        }
    </style>
</head>
<body>
<!--欢迎使用Vue表格分页插件，这是个示例模板-->
<!--首先需要几个模态框，使用模态框可以不跳转页面实现更好的用户体验，模态框最好直接写在body标签下面，模态框开始-->
<!--增加部门模态框-->
<nav class="navbar navbar-default navbar-inverse ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand "  href="/welcome">OA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/welcome">主页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">车辆管理</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/systemManage/deptManage">部门管理</a></li>
                        <li> <a href="/systemManage/empManage">员工管理</a></li>
                        <li> <a href="/systemManage/JobManage.html">职位管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">权限管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/systemManage/reply">批复管理</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"  href="#">动态<span style="color: red" id="me"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a onclick="openPageAndClearCount()" href="/systemManage/reply/rm">请假批复<span id="mememe"></span></a>
                        </li>
                        <li>
                            <a href="#">报销批复</a>
                        </li>
                        <li>
                            <a href="#">用车批复</a>
                        </li>
                    </ul>
                </li>
                <li><a href="/personCenter/myInfo">个人中心</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a id="sessionInfo"    class="dropdown-toggle" data-toggle="dropdown" ondblclick="window.location.href='/login'">
                        <img id="avatar"  v-bind:src="avatar==false? ` /images/upAvatar.jpg ` : avatar " alt="avatar" class="img-responsive img-circle">
                        {{(empName==null)?"双击登录":empName}}  <b class="caret"></b>

                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="action-1" href="#">功能</a>
                        </li>
                        <li>
                            <a href="#">功能</a>
                        </li>
                        <li>
                            <a href="/personCenter/addressBook">通讯录</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">切换用户</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/loginOut">退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="modal fade" id="addBaoXiaoRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--        下面这个div通过id与一个Vue实例绑定-->
        <div class="modal-content" id="addBaoXiaoRequest">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelAdd">新建报销申请</h4>
            </div>
            <div class="modal-body" >
                <!--                这里的使用v-model实现双向数据绑定-->
                报销原因：<input v-model="reason" placeholder=""><hr>
                报销金额：<input v-model="amount" placeholder=""><hr>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--                给增加按钮添加单击事件-->
                <button type="button" class="btn btn-primary" @click="addALeaveRequest">增加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="detail">
    <div class="modal-dialog" role="document">
        <div id="_detail" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">报销信息详情</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"> 申请报销员工id：</span>
                    <input v-model="data.apply_emp_id" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2"> 部门经理id：</span>
                    <input v-model="data.dept_managerId" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3"> 报销金额：</span>
                    <input v-model="data.amount" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon33"> 申请日期：</span>
                    <input v-model="data.lunch_date" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" >报销原因</span>
                    <input v-model="data.purpose" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" > 状态</span>
                    <input v-model="data.status" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <span class="input-group-addon"> 审批流程</span>

                <div class="input-group">
                    <span class="input-group-addon" > 部门经理操作结果</span>
                    <input v-model="step.dept_result" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" > 部门经理执行操作时间</span>
                    <input v-model="step.dept_exec_time" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>


                <div class="input-group">
                    <span class="input-group-addon" > 出纳操作结果</span>
                    <input v-model="step.cash_result" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" > 出纳执行操作时间</span>
                    <input v-model="step.cash_exec_time" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>




                <div class="input-group">
                    <span class="input-group-addon" > 出纳批复</span>
                    <input v-model="step.cash_opinion" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" > 部门经理批复</span>
                    <input v-model="step.dept_opinion" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--模态框结束-->
<div class="container">

<!--    <div id="searchDiv">-->
<!--        <div class="row" >-->
<!--            <div class="col-lg-6">-->
<!--                <div class="input-group">-->
<!--                    <input v-model="message"  type="text"  class="form-control" placeholder="Search for...">-->
<!--                    <span class="input-group-btn">-->
<!--                        <button @click="search" class="btn btn-default" type="button">根据部门名字搜索</button>-->
<!--                    </span>-->
<!--                    <input   v-show="result!=null" v-model="result" type="text" class="form-control col-md-6" placeholder="搜索结果">-->
<!--                </div>&lt;!&ndash; /input-group &ndash;&gt;-->
<!--            </div>&lt;!&ndash; /.col-lg-6 &ndash;&gt;-->
<!--        </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--    </div>-->

    <div style="padding:20px;" id="app">
        <div class="panel panel-primary">
            <!--            这里的部门管理要根据你自己功能改-->
            <div class="panel-heading">我的报销记录</div>
            <table class="table table-bordered table-hover table-striped text-center">
                <thead>
                <!--                下面也是动态改-->
                <tr>
                    <th>报销编号</th>
                    <th>部门经理</th>
                    <th>报销金额</th>
                    <th>申请状态</th>
                    <th>申请日期</th>
                    <th>详细</th>
                </tr>
                </thead>
                <tbody>
                <!--                row.xxxx   row后面写后端传过来的json对象属性-->
                <template v-for="(row, index) in data ">
                    <tr v-if="index>=(curpage-1)*pagesize&&index<curpage*pagesize">
                        <td>{{row.id}}</td>
                        <td>{{row.dept_managerId}}</td>
                        <td>{{row.amount}}</td>
                        <td>{{row.status}}</td>
                        <td>{{row.lunch_date}}</td>
                        <td>
                            <!-- 按钮触发模态框 通过data-target="#updateDeptModal"，找到相对应的id的模态框 -->
                            <button class="btn btn-primary " data-toggle="modal" data-target="#detail" @click="SeeMore(index)">详情</button>
                            <a @click="deleteA(index)" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <!-- 这个增加按钮也会触发模态框 -->
        <button  class="btn btn-success col-xs-offset-4" data-toggle="modal" data-target="#addBaoXiaoRequestModal">新建报销申请</button>
        <nav style="float:right;">
            <ul class="pagination pagination-lg">
                <!--                如果当前页面是第一页，那么就让上一页就点不了-->
                <li v-if="curpage==1" class="disabled"><a href="#">上一页</a></li>
                <!--                不是第一页的话，触发PrePage()方法-->
                <li v-else v-on:click="PrePage()"><a href="#">上一页</a></li>
                <!--                遍历所有页面并且显示-->
                <template v-for="page in pageCount">
                    <!--                    如果页面==当前页，让按钮的class="active"-->
                    <li v-if="page==curpage" class="active" v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                    <li v-else v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                </template>
                <!--                下一页与上一页同理-->
                <li v-if="curpage==pageCount" class="disabled"><a href="#">下一页</a></li>
                <li v-else v-on:click="NextPage()"><a href="#">下一页</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--下面引用js文件，有点多，以后优化-->
<script src="/Vue/js/jquery.js"></script>
<script src="/Vue/js/vue.js"></script>
<script src="/js/toastr.min.js"></script>
<script>
    // 设置提示框的属性
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "5500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
</script>
<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/Vue/js/axios.js"></script>
<script src="/Vue/js/lodash.min.js"></script>
<script type="text/javascript">
    //搜索栏功能实现
    let searchDiv = new Vue({
        el:'#searchDiv',
        data(){
            return{
                result:null,
                message:null
            }
        },
        methods:{
            search: function () {
                let tempData = vue.data;
                for (let temp of tempData) {
                    if (this.message == temp.deptName){
                        toastr.success('成功找到！');
                        toastr.info('id:'+temp.deptId+'   名字:'+temp.deptName+'   地址:'+temp.deptLoc+'  描述:'+temp.deptIntro);
                        this.result = 'id为'+temp.deptId+'   名字为'+temp.deptName+'   地址为'+temp.deptLoc+'  描述为'+temp.deptIntro;
                        return;
                    }
                }
                this.result=null;
                toastr.error('未找到');
            }
        },
    });


    let vue = new Vue({
        el: '#app',    //绑定元素
        data () {
            //初始化data
            return {
                data: null,             //data接收后端传来的数据
                pagesize: 6,            //默认每一页显示6页
                curpage: 1,             //当前页面，默认为第一页
                pageCount: null,        //页面总数
                e: null              //组件之间传递参数的对象，这里指的是data一个特定的dept，
                // 要根据后端传来的json对象动态修改，这里后端传来的json对象为dept，故写为dept
            }
        },
        methods: {
            //删除部门方法，通过元素index迅速找到元素，这就是为什么html里面循环最好加上index
            deleteA: function (index) {

            },
            SeeMore:function(index){
                _detail.data = this.data[index];
                axios
                    .get('/api/personCenter/baoXiaoApplyLogJiLu/'+this.data[index].id)
                    .then(response => (_detail.step = response.data))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            //上一页方法
            PrePage: function (event) {
                if (this.curpage > 1) {
                    this.curpage = this.curpage - 1;
                }
            },
            //下一页方法
            NextPage: function (event) {
                if (this.curpage < this.pageCount) {
                    this.curpage = this.curpage + 1;
                }
            },
            //点击页码的方法
            NumPage: function (num, event) {
                if (this.curpage === num) {
                    return;
                }
                this.curpage = num;
            }
        },
        //当vue挂载成功时，自动调用以下方法获取data数据
        mounted: function () {
            axios
                .get('/api/personCenter/baoXiaoApplyLog')
                .then(response => (this.data = response.data))
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });

        },
        // 当数据更新时，自动渲染页面
        updated:function () {
            this.pageCount = Math.ceil(this.data.length / this.pagesize);
        }
    });
    let _detail = new Vue({
        el:'#_detail',
        data:{
            //下面的数据要根据后端传过来的json对象动态改，一般初始化为null
            data:null,
            step:null
        },
        methods:{
            // 更新方法，使用put请求更新对象，参数放在请求体里，axios会自动将数据序列化为json对象
            updateADept:function(){
                axios
                    .put('/api/dept',{
                        deptId:this.deptId,
                        deptName:this.deptName,
                        deptLoc:this.deptLoc,
                        deptIntro:this.deptIntro
                    })
                    .then(function (response) {
                        //这里使用了匿名函数，而不是箭头函数，因为我们要写多条函数。返回数据为1则修改部门成功
                        if (response.data==1){
                            toastr.success('修改部门成功');
                            vue.data[this.index].deptName=this.deptName;
                            vue.data[this.index].deptLoc=this.deptLoc;
                            vue.data[this.index].deptIntro=this.deptIntro;
                            $('#addDeptModal').modal({
                                show:false
                            });//这里使用Jquery不生效，来个大佬改bug啊！
                        }else {
                            toastr.error('修改部门失败，请联系管理员');
                        }
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                vue.data[this.index].deptName=this.deptName;
                vue.data[this.index].deptLoc=this.deptLoc;
                vue.data[this.index].deptIntro=this.deptIntro;
            }
        },
        mounted: function () {
        }
    });
    let addBaoXiaoRequest = new Vue({
        el:'#addBaoXiaoRequest',
        //data里面也可以写空字符串哦！
        data:{
            reason:'',
            amount:''
        },
        methods:{
            addALeaveRequest:function (){
                axios
                    .post('/api/personCenter/baoXiaoApply',{
                        purpose:this.reason,
                        amount:this.amount
                    })
                    .then(response => response.data==1?(toastr.success('成功')):toastr.error('失败'))
                    .catch(function(error) {
                        console.log(error);
                    });
            }
        }
    });
</script>
<script src="/Vue/js/bootstrap-datetimepicker.js"></script>
<script src="/Vue/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>


<script>

    /**
     * 当用户点击消息是，我默认判断用户已阅，清零用户的计数器。
     * @param page
     */
    function openPageAndClearCount(page) {
        $.ajax({
            type: "POST",
            url: "/getCount/clearCount",
            dataType: "json",
            contentType: "application/json;charset=UTF-8",
            data:JSON.stringify({
                // hello:"hello"
                // post_id:
                // content: $("#reply").code(),
            }),success:function(result){
                if(result == true){
                    console.log("cleared");
                }else{
                    console.log("cleared fail")
                }
                // $('#reply').summernote('code','');
                // setTimeout( function(){
                //     history.go(0);
                // }, 1* 1000 );
            }
        });
    }

    //通过SSE实时监听后端传来的信息并更新前端页面
    if ('EventSource' in window){
        let urlll = "/getCount/push";
        let source = new EventSource(urlll);
        source.onmessage = (event) =>{
            let data = event.data;
            console.log(data);
        };
        source.addEventListener('like',function (event) {
            let data = event.data;
            console.log(data);
            let me=document.getElementById('mememe');
            if (data!=0){
                me.innerText= data;
                document.getElementById('me').innerText=data;
            }
        })
    }


</script>

<script>
    var nav = new Vue({
        el:'#sessionInfo',
        data () {
            return {
                empId:null,
                empName:'未登录',
                empRoleId:null,
                avatar:''
            }

        },
        methods: {
            getSessionInfo:function () {
                axios
                    .get('/sessionInfo',{
                        headers:{
                            'Authorization': window.localStorage.token
                        }
                    })
                    .then(function (response) {
                        this.empId =  response.data.empId;
                        this.empName = response.data.empName;
                        this.empRoleId = response.data.empRoleId;
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            }
        },
        mounted () {
            //当Vue实例挂载完成时，自动调用后端接口获取所有dept数据并且将数据渲染到html
            axios
                .get('/sessionInfo',{
                    headers:{
                        'Authorization': window.localStorage.token
                    }
                })
                .then(response => (this.empName = response.data.empName))
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });

            axios
                .get('/api/personCenter/myAvatar')
                .then(response => (this.avatar = response.data))
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
        }
    });
</script>

</body>
</html>