<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Vue/css/toastr.css">
    <link rel="stylesheet" href="/Vue/css/bootstrap-datetimepicker.css">

    <style type="text/css">
        table thead tr th {
            text-align: center;
        }
        /*这个样式，是让表格在中心*/
    </style>
</head>
<body>
<!--欢迎使用Vue表格分页插件，这是个示例模板-->
<!--首先需要几个模态框，使用模态框可以不跳转页面实现更好的用户体验，模态框最好直接写在body标签下面，模态框开始-->
<!--增加部门模态框-->
<div class="modal fade" id="addLeaveRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
<!--        下面这个div通过id与一个Vue实例绑定-->
        <div class="modal-content" id="addLeaveRequest">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelAdd">新建请假申请</h4>
            </div>
            <div class="modal-body" >
<!--                这里的使用v-model实现双向数据绑定-->
                请假原因：<input v-model="reason" placeholder=""><hr>
                <div class="form-group">
                    <label for="dtp_input2" class="col-md-2 control-label">开始日期</label>
                    <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input   class="form-control" size="16" type="text"  readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input  v-model="beginDate"  type="hidden" id="dtp_input2"  /><br/>
                </div>

                <hr>
                <div class="form-group">
                    <label for="dtp_input3" class="col-md-2 control-label">结束日期</label>
                    <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                        <input   class="form-control" size="16" type="text"  readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input  v-model="endDate"  type="hidden" id="dtp_input3"  /><br/>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<!--                给增加按钮添加单击事件-->
                <button type="button" class="btn btn-primary" @click="addALeaveRequest">增加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="detail">
    <div class="modal-dialog" role="document">
        <div id="_detail" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">请假信息详情</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"> 请假员工id：</span>
                    <input v-model="data.leave_staff_id" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2"> 部门经理：</span>
                    <input v-model="data.emp_name" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3"> 请假开始时间：</span>
                    <input v-model="data.begin_date" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon33"> 请假结束时间：</span>
                    <input v-model="data.end_date" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4"> 请假原因：</span>
                    <input v-model="data.reason" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon5"> 申请日期：</span>
                    <input v-model="data.request_date" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon6"> 状态：</span>
                    <input v-model="data.status" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon7"> 审批意见：</span>
                    <input v-model="data.approval_opinion" readonly type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--模态框结束-->
<div class="container">

    <div id="searchDiv">
        <div class="row" >
            <div class="col-lg-6">
                <div class="input-group">
                        <input v-model="message"  type="text"  class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button @click="search" class="btn btn-default" type="button">根据部门名字搜索</button>
                    </span>
                    <input   v-show="result!=null" v-model="result" type="text" class="form-control col-md-6" placeholder="搜索结果">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>

    <div style="padding:20px;" id="app">
        <div class="panel panel-primary">
<!--            这里的部门管理要根据你自己功能改-->
            <div class="panel-heading">我的请假记录</div>
            <table class="table table-bordered table-hover table-striped text-center">
                <thead>
<!--                下面也是动态改-->
                <tr>
                    <th>请假编号</th>
                    <th>部门经理</th>
                    <th>开始日期</th>
                    <th>结束日期</th>
                    <th>申请状态</th>
                    <th>申请日期</th>
                    <th>详细</th>
                </tr>
                </thead>
                <tbody>
<!--                row.xxxx   row后面写后端传过来的json对象属性-->
                <template v-for="(row, index) in data ">
                    <tr v-if="index>=(curpage-1)*pagesize&&index<curpage*pagesize">
                        <td>{{row.id}}</td>
                        <td>{{row.emp_name}}</td>
                        <td>{{row.begin_date}}</td>
                        <td>{{row.end_date}}</td>
                        <td>{{row.status}}</td>
                        <td>{{row.request_date}}</td>
                        <td>
                            <!-- 按钮触发模态框 通过data-target="#updateDeptModal"，找到相对应的id的模态框 -->
                            <button class="btn btn-primary " data-toggle="modal" data-target="#detail" @click="SeeMore(index)">详情</button>
                            <a @click="deleteA(index)" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <!-- 这个增加按钮也会触发模态框 -->
        <button  class="btn btn-success col-xs-offset-4" data-toggle="modal" data-target="#addLeaveRequestModal">新建请假申请</button>
        <nav style="float:right;">
            <ul class="pagination pagination-lg">
<!--                如果当前页面是第一页，那么就让上一页就点不了-->
                <li v-if="curpage==1" class="disabled"><a href="#">上一页</a></li>
<!--                不是第一页的话，触发PrePage()方法-->
                <li v-else v-on:click="PrePage()"><a href="#">上一页</a></li>
<!--                遍历所有页面并且显示-->
                <template v-for="page in pageCount">
<!--                    如果页面==当前页，让按钮的class="active"-->
                    <li v-if="page==curpage" class="active" v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                    <li v-else v-on:click="NumPage(page, $event)"><a href="#">{{page}}</a></li>
                </template>
<!--                下一页与上一页同理-->
                <li v-if="curpage==pageCount" class="disabled"><a href="#">下一页</a></li>
                <li v-else v-on:click="NextPage()"><a href="#">下一页</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--下面引用js文件，有点多，以后优化-->
<script src="/Vue/js/jquery.js"></script>
<script src="/Vue/js/vue.js"></script>
<script src="/js/toastr.min.js"></script>
<script>
    // 设置提示框的属性
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "5500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
</script>
<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/Vue/js/axios.js"></script>
<script src="/Vue/js/lodash.min.js"></script>
<script type="text/javascript">
    //搜索栏功能实现
    let searchDiv = new Vue({
        el:'#searchDiv',
        data(){
            return{
                result:null,
                message:null
            }
        },
        methods:{
            search: function () {
                let tempData = vue.data;
                for (let temp of tempData) {
                    if (this.message == temp.deptName){
                        toastr.success('成功找到！');
                        toastr.info('id:'+temp.deptId+'   名字:'+temp.deptName+'   地址:'+temp.deptLoc+'  描述:'+temp.deptIntro);
                        this.result = 'id为'+temp.deptId+'   名字为'+temp.deptName+'   地址为'+temp.deptLoc+'  描述为'+temp.deptIntro;
                        return;
                    }
                }
                this.result=null;
                toastr.error('未找到');
            }
        },
    });


    let vue = new Vue({
        el: '#app',    //绑定元素
        data () {
            //初始化data
            return {
                data: null,             //data接收后端传来的数据
                pagesize: 6,            //默认每一页显示6页
                curpage: 1,             //当前页面，默认为第一页
                pageCount: null,        //页面总数
                r: null              //组件之间传递参数的对象，这里指的是data一个特定的dept，
                                        // 要根据后端传来的json对象动态修改，这里后端传来的json对象为dept，故写为dept
            }
        },
        methods: {
            //删除部门方法，通过元素index迅速找到元素，这就是为什么html里面循环最好加上index
            deleteA: function (index) {
                //使用let定义局部变量，获取删除部门的deptId
                let id = this.data[index].id;
                if(confirm('确定删除吗？id为'+id)){
                    // 发起ajax请求使后端进行删除操作并返回操作结果
                    axios
                        .delete('/api/personCenter/leaveRequest'+id)// 根据RestFul风格，以delete请求发送
                        //这里使用了箭头函数，进一步简化了匿名函数的书写，获取response的data数据，若为1则表示删除成功
                        .then(response => response.data==1?(toastr.success('删除成功')):toastr.error('删除失败'))
                        //出错处理，若出错请到控制台查看出错信息
                        .catch(function(error){
                            console.log(error);
                        });
                    this.data.splice(index,1);//删除选定的部门
                }
            },
            //获取所有部门方法，这是个保留方法，只将获取到的数据打印到控制台
            getDepts:function(){
                axios
                    .get('/api/dept')
                    .then(response => console.log(response.data))
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            //修改部门方法，修改部门需要调用修改模态框，在这里修改部门模态框也是一个实例，调用模态框实例传输参数即可
            SeeMore:function(index){
                _detail.data = this.data[index]
            },
            //上一页方法
            PrePage: function (event) {
                if (this.curpage > 1) {
                    this.curpage = this.curpage - 1;
                }
            },
            //下一页方法
            NextPage: function (event) {
                if (this.curpage < this.pageCount) {
                    this.curpage = this.curpage + 1;
                }
            },
            //点击页码的方法
            NumPage: function (num, event) {
                if (this.curpage === num) {
                    return;
                }
                this.curpage = num;
            }
        },
        //当vue挂载成功时，自动调用以下方法获取data数据
        mounted: function () {
            axios
                .get('/api/personCenter/leaveRequest')
                .then(response => (this.data = response.data))
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
        },
        // 当数据更新时，自动渲染页面
        updated:function () {
            this.pageCount = Math.ceil(this.data.length / this.pagesize);
        }
    });
    let _detail = new Vue({
        el:'#_detail',
        data:{
            //下面的数据要根据后端传过来的json对象动态改，一般初始化为null
            data:null
        },
        methods:{
            // 更新方法，使用put请求更新对象，参数放在请求体里，axios会自动将数据序列化为json对象
            updateADept:function(){
                axios
                    .put('/api/dept',{
                        deptId:this.deptId,
                        deptName:this.deptName,
                        deptLoc:this.deptLoc,
                        deptIntro:this.deptIntro
                    })
                    .then(function (response) {
                        //这里使用了匿名函数，而不是箭头函数，因为我们要写多条函数。返回数据为1则修改部门成功
                        if (response.data==1){
                            toastr.success('修改部门成功');
                            vue.data[this.index].deptName=this.deptName;
                            vue.data[this.index].deptLoc=this.deptLoc;
                            vue.data[this.index].deptIntro=this.deptIntro;
                            $('#addDeptModal').modal({
                                show:false
                            });//这里使用Jquery不生效，来个大佬改bug啊！
                        }else {
                            toastr.error('修改部门失败，请联系管理员');
                        }
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                vue.data[this.index].deptName=this.deptName;
                vue.data[this.index].deptLoc=this.deptLoc;
                vue.data[this.index].deptIntro=this.deptIntro;
            }
        }
    });
    let addLeaveRequest = new Vue({
        el:'#addLeaveRequest',
        //data里面也可以写空字符串哦！
        data:{
            reason:'',
            beginDate:'',
            endDate:''
        },
        methods:{
            addALeaveRequest:function (){
                axios
                    .post('/api/personCenter/leaveRequest',{
                        reason:this.reason,
                        beginDate: $('#dtp_input2').val(),
                        endDate: $('#dtp_input3').val()
                    })
                    .then(response => response.data==1?(toastr.success('成功')):toastr.error('失败'))
                    .catch(function(error) {
                        console.log(error);
                    });
                setTimeout(function () {
                    window.location.href = "/personCenter/LeaveApply";
                },1000);
            }
        }
    });
</script>
<script src="/Vue/js/bootstrap-datetimepicker.js"></script>
<script src="/Vue/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>

</body>
</html>