<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>增加资产</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Vue/css/toastr.css">
    <style type="text/css">
        table thead tr th {
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container">
    <div style="padding:20px;" id="app">
        <div class="panel panel-primary">
            <!--            这里的部门管理要根据你自己功能改-->
            <div class="panel-heading">资产管理</div>
            <table class="table table-bordered table-hover table-striped text-center">
                <thead>
                <!--                下面也是动态改-->
                <tr>
                    <th>资产ID</th>
                    <th>资产名称</th>
                    <th>资产类别</th>
                    <th>资产规格</th>
                    <th>资产单价</th>
                    <th>资产库存</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <!--                row.xxxx   row后面写后端传过来的json对象属性-->
                <template v-for="(row, index) of data ">
                    <tr v-if="index>=(curpage-1)*pagesize&&index<curpage*pagesize">
                    <tr >

                        <td>{{row.assetId}}</td>
                        <td>{{row.assetName}}</td>
                        <td>{{row.assetClasses}}</td>
                        <td>{{row.assetSpecification}}</td>
                        <td>{{row.assetUnitPrice}}</td>
                        <td>{{row.assetInventory}}</td>
                    <td><button class="btn btn-primary " data-toggle="modal" data-target="#updateAssetModal" @click="LaunchUpdateAsset(index)">修改</button>
                        <a @click="deleteAsset(index)" class="btn btn-danger">删除</a>
                    </td>
                    </tr>
                    </tr>

                </template>
                </tbody>
            </table>
        </div>
        <!-- 这个增加按钮也会触发模态框 -->
        <button  class="btn btn-success col-xs-offset-4" data-toggle="modal" data-target="#addAssetModal">增加资产</button>

    </div>
</div>

<!--增加部门模态框-->
<!--    注意这里的属性id="addDeptModal"，这里的id是拿来绑定模态框按钮的，点击按钮便可以通过id找到对应的模态框-->

<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--        下面这个div通过id与一个Vue实例绑定-->
        <div class="modal-content" id="addAsset">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelAdd">增加资产</h4>
            </div>
            <div class="modal-body" >
                <!--                这里的使用v-model实现双向数据绑定-->


                资产名称：<input v-model="bmm" placeholder="资产名称"><hr>
                资产类别：<input v-model="bml" placeholder="资产类别"><hr>
                资产规格：<input v-model="bmg" placeholder="资产规格"><hr>
                资产单价：<input v-model="bmd" placeholder="资产单价"><hr>
                资产库存：<input v-model="bmk" placeholder="资产库存"><hr>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--                给增加按钮添加单击事件-->
                <button type="button" class="btn btn-primary" @click="addAAsset">增加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--下面引用js文件，有点多，以后优化-->
<script src="/Vue/js/jquery.js"></script>
<script src="Vue/js/vue.js"></script>
<script src="/js/toastr.min.js"></script>
<script>
    // 设置提示框的属性
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "5500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
</script>
<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/Vue/js/axios.js"></script>
<script src="/Vue/js/lodash.min.js"></script>
<script type="text/javascript">


    let vue = new Vue({
        el: '#app',    //绑定元素
        data () {
            //初始化data
            return {
                data: null,             //data接收后端传来的数据
                pagesize: 6,            //默认每一页显示6页
                curpage: 1,             //当前页面，默认为第一页
                pageCount: null,        //页面总数
                asset: null              //组件之间传递参数的对象，这里指的是data一个特定的dept，
                // 要根据后端传来的json对象动态修改，这里后端传来的json对象为dept，故写为dept
            }
        },
        methods: {

            //获取所有部门方法，这是个保留方法，只将获取到的数据打印到控制台
            getAsset:function(){
                axios
                    .get('/api/asset')
                    .then(response => console.log(response.data))
                    .catch(function(error) {
                        console.log(error);
                    });
            },



        },
        //当vue挂载成功时，自动调用以下方法获取data数据
        mounted: function () {
            axios
                .get('/api/asset')
                .then(response => (this.data = response.data))
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
        },

    });

    let addAsset = new Vue({
        el:'#addAsset',
        //data里面也可以写空字符串哦！
        data:{
            bmz:'',
            bmx:'',
            bmc:'',
            bmv:'',
            bmb:''

        },
        methods:{
            addAAsset:function (){
                axios
                    .post('/api/asset',{

                        assetName:this.bmz,
                        assetClasses:this.bmx,
                        assetSpecification:this.bmc,
                        assetUnitPrice:this.bmv,
                        assetInventory:this.bmb

                    })
                    .then(response => response.data==1?(toastr.success('成功')):toastr.error('失败'))
                    .catch(function(error) {
                        console.log(error);
                    });
                setTimeout(function () {
                    window.location.href = "/AssetManagement/AddAsset";
                },1000);
            }
        }
    });
</script>
</body>
</html>