<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>增加资产</title>
    <link rel="stylesheet" href="/zhanghan_cloud_oa/js/bootstrap/css/bootstrap.css">
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">OA系统</a></li>
        <li><a href="#">资产管理</a></li>
        <li>增加资产</li>
    </ol>
    <h2 class="page-header">增加新资产</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">资产名称</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入资产名称" id="assetName" name="assetName" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">资产类别</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入资产类别" id="assetClasses" name="assetClasses" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">资产规格</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入资产规格" id="assetSpecification" name="assetSpecification" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">资产单价</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入资产单价" id="assetUnitPrice" name="assetUnitPrice" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">资产库存数量</label>
            <div class="col-sm-8">
                <input type="text" placeholder="请输入资产库存数量" id="assetInventory" name="assetInventory" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input id="addBtn" type="button" value="增加资产" class="btn btn-primary" />
                <input type="button" value="返回" class="btn btn-warning" onclick="history.back();" />
            </div>
        </div>
    </form>
</div>



<script type="text/javascript" src="/zhanghan_cloud_oa/js/jquery-3.4.1.js" ></script>
<script type="text/javascript" src="/zhanghan_cloud_oa/js/global.js" ></script>
<script type="text/javascript" src="/zhanghan_cloud_oa/js/layer/layer.js" ></script>
<script>
    //表单验证函数
    // function checkForm() {
    //
    //     //部门名称
    //     var deptName = $('#deptName');
    //
    //     if (deptName.val() == '' || deptName.val().length > 10) {
    //         layer.msg('部门名称不能为空且最多10个字符');
    //         deptName.focus();
    //         return false;
    //     }
    //
    //     //部门地址
    //     var deptLoc = $('#deptLoc');
    //
    //     if (deptLoc.val() == '' || deptLoc.val().length > 20) {
    //         layer.msg('部门地址不能为空且最多20字符');
    //         deptLoc.select();
    //         return false;
    //     }
    //
    //     return true;
    // }

    function addDept() {
        let name =  $("#bmmz").val();
        let address = $("#bmdz").val();
        let describe = $("#bmms").val();
        if (name==false){
            toastr.error('部门名字不能为空！！');
            return;
        }
        $.ajax({
            type: "POST",
            url: "/api/dept",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            data:JSON.stringify({
                "name" : name,
                "address" : address,
                "describe" : describe
            }),
            success:function (result){
                if (result){
                    toastr.success('添加部门数据成功');
                } else{
                    toastr.error("部门信息无效","增加失败！");
                }
            }
        })
    }

    // //增加部门
    // $('#addBtn').click(function(){
    //
    //     //调用验证函数
    //     // if ( !checkForm() )
    //     //     return;
    //
    //     //请求参数
    //     var params = {
    //         assetName:$('#assetName').val(),
    //         assetClasses:$('#assetClasses').val(),
    //         assetSpecification:$('#assetSpecification').val(),
    //         assetUnitPrice:$('#assetUnitPrice').val(),
    //         assetInventory:$('#assetInventory').val()
    //         //
    //         // deptLoc:$('#deptLoc').val(),
    //         // deptName:$('#deptName').val(),
    //         // deptLoc:$('#deptLoc').val()
    //
    //     }
    //     //调用后端功能
    //     // localhost/api/asset/add
    //
    //     $.post(baseUrl + '/asset/add',params,function(data) {
    //     // $.post(host+'/api/asset/add',params,function(data) {
    //
    //         layer.msg('增加资产成功');
    //
    //         // setTimeout(function(){
    //         //     location.href = 'QueryDept.html';
    //         // },500);
    //
    //     });
    //
    // });

    $('#addBtn').click(function(){


        let assetName =$('#assetName').val();
        let assetClasses =$('#assetClasses').val();
        let assetSpecification =$('#assetSpecification').val();
        let assetUnitPrice =$('#assetUnitPrice').val();
        let assetInventory =$('#assetInventory').val();

        let name =  $("#bmmz").val();
        let address = $("#bmdz").val();
        let describe = $("#bmms").val();

        $.ajax({
            type: "POST",
            url: "/api/asset/add",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            data:JSON.stringify({

                "name" : name,
                "address" : address,
                "describe" : describe
            }),
            success:function (result){
                if (result){
                    toastr.success('添加部门数据成功');
                } else{
                    toastr.error("部门信息无效","增加失败！");
                }
            }
        })




    });




</script>
</body>
</html>