<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Vue/css/bootstrap.css">
    <link href="/Vue/css/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="/Vue/css/toastr.css">
    <link rel="stylesheet" href="/Vue/css/bootstrap-datetimepicker.css">
    <link href="/css/bootstrap.css" rel="stylesheet" />


    <!-- Custom styles for this template -->
    <link href="/Vue/css/cover.css" rel="stylesheet">

</head>
<body>

<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
<!--    Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">updateModal </h4>
            </div>
<!--            affId: 13-->
<!--            affName: "qwee"-->
<!--            affCont: "edwfedewg"-->
<!--            affData: "2017-11-12"-->
<!--            affEmpId: 6-->
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon" id="">主题</span>
                    <input  v-model="data.affName"   type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="">时间</span>
                    <input v-model="data.affData" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="">内容</span>
                    <input v-model="data.affCont" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="">发布人</span>
                    <input v-model="data.affEmpId" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <button type="button" class="btn btn-primary"  @click="updateATopic">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">addModal </h4>
            </div>

            <div class="modal-body">


                <div class="input-group">
                    <span class="input-group-addon" id="">主题</span>
                    <input v-model="affName" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="">时间</span>
                    <input  v-model="affData" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="">内容</span>
                    <input v-model="affCont" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="">发布人ID</span>
                    <input v-model="affEmpId" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="addATopic">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="d">detailModal </h4>
            </div>
            <div class="modal-body" id="_detail">


                <div class="input-group">
                    <span class="input-group-addon" id="">主题</span>
                    <input v-model="data.affName" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="">时间</span>
                    <input  v-model="data.affData" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="">内容</span>
                    <input v-model="data.affCont" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="">发布人ID</span>
                    <input v-model="data.affEmpId" type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<div class="container">

    <ol class="breadcrumb">
        <li><a href="#">OA系统</a></li>
        <li><a href="#">公告系统</a></li>
        <li>公告栏</li>
    </ol>

    <h2 class="page-header">公告栏</h2>

    <table id="topic_" class="table table-hover table-bordered">
        <thead>
        <tr>
            <td>公告编号</td>
            <td>公告主题</td>
            <td>发布时间</td>
            <td>操作</td>

        </tr>
        </thead>
        <tbody>
            <tr v-for="(aff,index) of affList">
                <td>{{aff.affId}}</td>
                <td>{{aff.affName}}</td>
                <td>{{aff.affData}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-xs"     data-toggle="modal" data-target="#detailModal"     @click="detail(index)" >
                        <span class="glyphicon glyphicon-pencil"></span>
                        详情
                    </button>
                    <button type="button" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#updateModal"  @click="toUp(index)">
                        <span class="glyphicon glyphicon-pencil"></span>
                        修改
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"         @click="del(aff.affId)">
                        <span class="glyphicon glyphicon-trash"></span>
                        删除
                    </button>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-offset-8 col-sm-4">
            <a href="" class="btn btn-success btn-block"  data-toggle="modal" data-target="#addModal"   >发布新公告</a>
        </div>
    </div>
</div>
</body>
<!--下面引用js文件，有点多，以后优化-->
<script src="/Vue/js/jquery.js"></script>
<script src="/Vue/js/vue.js"></script>
<script src="/js/toastr.min.js"></script>
<script>
    // 设置提示框的属性
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "5500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
</script>
<script src="/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/Vue/js/axios.js"></script>
<script src="/Vue/js/lodash.min.js"></script>
<script src="/Vue/js/bootstrap-datetimepicker.js"></script>
<script src="/Vue/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script >

    let detailModal_ = new Vue({
        el:'#_detail',
        data:{
            data:null
        }
    });
    let updateModal = new Vue({
        el:'#updateModal',
        data:{
            //下面的数据要根据后端传过来的json对象动态改，一般初始化为null
            data:null,
            index:null
        },
        methods:{
            // 更新方法，使用put请求更新对象，参数放在请求体里，axios会自动将数据序列化为json对象
            updateATopic:function(){
                axios
                    .post('/Aff/update',{
                        affId : this.data.affId,
                        affName : this.data.affName,
                        affCont : this.data.affCont,
                        affData : this.data.affData
                    })
                    .then(function (response) {
                        //这里使用了匿名函数，而不是箭头函数，因为我们要写多条函数。返回数据为1则修改部门成功
                        if (response.data==1){
                            toastr.success('修改部门成功');
                        }else {
                            toastr.error('修改部门失败，请联系管理员');
                        }
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            }

        }
    });





    var topic_ = new Vue({
        el:'#topic_',
        data:{
            affList:null,
            pager:null
        },
        methods:{

            detail:function(index){
                detailModal_.data = this.affList[index];
            },

            //查询数据
            query:function(pageNum){
                //请求参数
                var params = {
                    pageNum:pageNum,
                    pageSize:12
                };

                //调用后端功能
                $.getJSON(baseUrl + '/Aff/query',params,function(raw){
                    vue.empList = raw.list;
                    vue.pager = raw.pager;
                });
            },
            //删除方法
            del:function(affId){
                alert(affId);
                if (!window.confirm('确定要删除此公告吗')) {
                    return;
                }

                //调用后端功能
                axios
                    .delete('/Aff/del/'+affId)
                    .then(response => response.data==1?(toastr.success('删除成功')):toastr.error('删除失败'))
                    .catch(function(error){
                        console.log(error);
                    });
                setTimeout(function () {
                    window.location.href = "/topic";
                },1000);

            },
            //修改方法
            toUp:function(index) {
                updateModal.data = this.affList[index];
            }
        },
        mounted:function(){ //网页渲染完毕调用
            axios
                .get('/Aff/query')
                .then(response => (this.affList = response.data))
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
        }
    });

    let addModal = new Vue({
        el:'#addModal',
        //data里面也可以写空字符串哦！
        data:{
            affName: null,
            affCont: null,
            affData: null,
            affEmpId: null
        },
        methods:{
            addATopic:function (){
                axios
                    .post('/Aff/insert',{
                        affName : this.affName,
                        affCont : this.affCont,
                        affData : this.affData,
                        affEmpId: this.affEmpId
                    })
                    .then(response => response.data==1?(toastr.success('成功')):toastr.error('失败'))
                    .catch(function(error) {
                        console.log(error);
                    });
            }
        }
    });

</script>

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('#affDate').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>

</html>