<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆申请</title>
    <link rel="stylesheet" href="/Vue/css/toastr.css">
    <link rel="stylesheet" href="/Vue/css/bootstrap.css">
    <link rel="stylesheet" href="/Vue/css/bootstrap-datetimepicker.css">
    <!-- Custom styles for this template -->
    <link href="/Vue/css/cover.css" rel="stylesheet">
    <style>
        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
            background-color: rgba(0,0,0,0);
            border-color: #0f0f0f;
        }
        input {
            color: #0f0f0f;
        }
        #addApplyModal {
            color: #0f0f0f;
        }
        body {
            text-shadow: 2px 2px 8px black;
        }
        #mange {
            padding: 6px 45px;
            margin-top: 110px
        }
        .dropdown-menu {
            color: #0f0f0f;
        }
    </style>
</head>
<body>

<!--//导航栏-->
<nav class="navbar navbar-default navbar-inverse ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand "  href="/welcome">OA</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/welcome">主页 <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/systemManage/deptManage">部门管理</a></li>
                        <li> <a href="/systemManage/empManage">员工管理</a></li>
                        <li> <a href="/systemManage/JobManage.html">职位管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">权限管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/systemManage/reply">批复管理</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"  href="#">动态<span style="color: red" id="me"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a onclick="openPageAndClearCount()" href="/systemManage/reply/rm">请假批复<span id="mememe"></span></a>
                        </li>
                        <li>
                            <a href="#">报销批复</a>
                        </li>
                        <li>
                            <a href="#">用车批复</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">车辆管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/carCenter/queryCarCenter.html">车辆查看</a></li>
                        <li> <a href="/carCenter/queryCarState.html">派车代办</a></li>
                        <li> <a href="/carCenter/queryCarRent.html">派车记录</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">外派人才管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/sendPerson/peopleSendList.html">外派人员列表</a></li>
                        <li> <a href="/sendPerson/compantionList.html">合作公司列表</a></li>
                        <li> <a href="/sendPerson/comDemandList.html">公司需求列表</a></li>
                        <li> <a href="/sendPerson/sendReordList.html">外派记录显示</a></li>
                    </ul>
                </li>
                <li><a href="/personCenter/myInfo">个人中心</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-hover" id="carRentList">
            <caption><h1 align="center">我的车辆申请记录</h1></caption>
            <thead>
            <tr>
                <td>申请编号</td>
                <td>员工姓名</td>
                <td>行政主管</td>
                <td>开始日期</td>
                <td>结束日期</td>
                <td>申请时间</td>
                <td>申请状态</td>
                <td>申请原因</td>
                <td>行车路线</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(car,index) of carList" v-bind:key = 'car.carRentId'>
                <td>{{car.car_rent_id}}</td>
                <td>{{car.emp_apply_name}}</td>
                <td>{{car.emp_checkman_name}}</td>
                <td>{{car.car_rent_stime}}</td>
                <td>{{car.car_rent_otime}}</td>
                <td>{{car.car_apply_time}}</td>
                <td>{{car.apply_state_name}}</td>
                <td>{{car.car_rent_info}}</td>
                <td>{{car.car_rent_line}}</td>
            </tr>
            </tbody>

        </table>

        <div class="col-md-offset-8 col-md-4" >
            <button class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#addApplyModal">发起新的用车申请</button>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<!-- 添加新用车申请模态框（Modal） -->
<div class="modal fade" id="addApplyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!--        下面这个div通过id与一个Vue实例绑定-->
        <div class="modal-content" id="addApply">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelAdd">新建请假申请</h4>
            </div>
            <div class="modal-body" >
                <!--                这里的使用v-model实现双向数据绑定-->
                用车原因：<input v-model="carRentInfo" placeholder="用车原因"><hr>
                用车路线：<input v-model="carRentLine" placeholder="用车路线"><hr>
                <div class="form-group">
                    <label for="dtp_input2" class="col-md-2 control-label">开始日期</label>
                    <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input   class="form-control" size="16" type="text"  readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input  v-model="carRentStime"  type="hidden" id="dtp_input2"  /><br/>
                </div>

                <hr>
                <div class="form-group">
                    <label for="dtp_input3" class="col-md-2 control-label">结束日期</label>
                    <div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                        <input   class="form-control" size="16" type="text"  readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input  v-model="carRentOtime"  type="hidden" id="dtp_input3"  /><br/>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--                给增加按钮添加单击事件-->
                <button type="button" class="btn btn-primary" @click="addApplyRequest">增加</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="/Vue/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/Vue/js/vue.js"></script>
<script src="/Vue/js/axios.js"></script>
<script src="/Vue/js/common.js"></script>
<script src="/Vue/js/layer/layer.js"></script>
<script src="/Vue/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="/Vue/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="/Vue/js/bootstrap-datetimepicker.js"></script>
<script src="/Vue/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script>
    //派车记录
    var rentList = new Vue({
        el:'#carRentList' ,
        data:{
            carList:[]
        },
        methods:{
            query:function () {
                axios
                    .get(host+'/api/emp/queryMyRent')
                    .then(response => (this.carList=response.data))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    })
            }
        },
        mounted: function(){
            this.query();
        }
    });
    let addApplyRequest = new Vue({
        el:'#addApply',
        //data里面也可以写空字符串哦！
        data:{
            carRentLine:'',
            carRentInfo:'',
            carRentStime:'',
            carRentOtime:''
        },
        methods:{
            addApplyRequest:function (){
                axios
                    .post('/api/emp/carApply',{
                        carRentLine:this.carRentLine,
                        carRentInfo:this.carRentInfo,
                        carRentStime: $('#dtp_input2').val(),
                        carRentOtime: $('#dtp_input3').val()
                    })
                    .then(response => response.data==1?(toastr.success('成功')):toastr.error('失败'))
                    .catch(function(error) {
                        console.log(error);
                    });
                setTimeout(function () {
                    window.location.href = "carApply.html";
                },1000);
            }
        }
    });
</script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>
</body>
</html>