<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安排车辆</title>
    <link rel="stylesheet" href="/Vue/css/toastr.css">
    <link rel="stylesheet" href="/Vue/css/bootstrap.css">
    <!-- Custom styles for this template -->
    <link href="/Vue/css/cover.css" rel="stylesheet">
    <style>
        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
            background-color: rgba(0,0,0,0);
            border-color: #0f0f0f;
        }
        input {
            color: #0f0f0f;
        }
        body {
            text-shadow: 2px 2px 8px black;
        }
    </style>
</head>
<body>
<div class="col-sm-offset-4 col-sm-8">
    <table class="table table-hover" id="carRentList">
        <caption><h1 align="center">可安排车辆列表</h1></caption>
        <thead>
        <tr>
            <td>车辆编号</td>
            <td>车辆类型</td>
            <td>车辆牌照</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(car, index) of carList" v-bind:key = 'car.carId'>
            <td>{{car.car_id}}</td>
            <td>{{car.car_type}}</td>
            <td>{{car.car_num}}</td>
            <td>
                <!-- 按钮触发模态框 -->
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#queryCarModal" @click="QueryByIdCar(car.car_id)">查看图片</button>
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateCarModal" @click="PlanThisCar(car.car_id)">派出</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="/Vue/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/Vue/js/vue.js"></script>
<script src="/Vue/js/axios.js"></script>
<script src="/Vue/js/common.js"></script>
<script src="/Vue/js/layer/layer.js"></script>
<script src="/Vue/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="/Vue/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script>
    //派车记录
    var planCar = new Vue({
        el:'#carRentList' ,
        data() {
        return {
            carList: null,
            car: null
        }
        },
        methods:{
            query:function () {
                axios
                    .get(host+'/api/car/queryPlan')
                    .then(response =>(this.carList=response.data))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    })
            },
            QueryByIdCar: function (index) {
                //使用let定义局部变量
                let carId = index;
                axios
                    .get(host+'/api/car/queryByPlanId/'+carId)
                    .then(function (response) {
                        alert(response.data.carType + response.data.carPic);
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
        },
        mounted: function(){
            this.query();
        }
    });
</script>
</body>
</html>