





<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" href="./cloud_oa/js/bootstrap/css/bootstrap.css">
<link href="./cloud_oa/css/common.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./cloud_oa/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="./cloud_oa/js/Validform/css/style.css">
<script type="text/javascript" src="./cloud_oa/js/Validform/js/Validform_v5.3.2.js"></script>
<script type="text/javascript" src="./cloud_oa/js/layer/layer.js"></script>

<script type="text/javascript">

	var roomId;
	var roomName;
	
	//返回值到父窗口
	function returnPopValue() {		
				
		$(window.parent.document).find('#roomId').val(roomId);
		$(window.parent.document).find('#roomName').val(roomName);	
		$(window.parent.document).find('#popWinClose').click();
	}
	
	//关闭当前窗口
	function closeWin(){
		$(window.parent.document).find('#popWinClose').click();
	}
	
	$(document).ready(function(){
		$('input[name="ids"]').click(function(){
			roomId = $.trim( $(this).parent().parent().find('td').eq(1).text() );
			roomName = $.trim( $(this).parent().parent().find('td').eq(2).text() );			
		});		
	});
</script>
</head>
<body>

<div class="container">
	<div class="row"> 
	    <div class="room1" style="min-height: 400px;">
	    	<table class="table table-striped">
			  <tr>
			    <th width="100" height="24">选择</th>
			    <th width="129" height="24">会议室编号</th>
			    <th width="177" height="24">会议室名称</th>   
			  </tr>
			
			  
			  <tr>
			    <td height="24"><input type="radio" name="ids"></td>
			    <td height="24">2</td>
			    <td height="24">副会议室</td>   
			  </tr>
			  
			  <tr>
			    <td height="24"><input type="radio" name="ids"></td>
			    <td height="24">1</td>
			    <td height="24">主会议室</td>   
			  </tr>
			  
			  <tr>
			    <td height="24"><input type="radio" name="ids"></td>
			    <td height="24">3</td>
			    <td height="24">小会议室</td>   
			  </tr>
			  
			</table>
			<!-- 分页条 -->
			

<nav class="text-center">
	<ul class="pagination">

		
			<li class="disabled"><a href="#">上页</a></li>
			<li class="active"><a href="#">1</a></li>
		
		
		
		
		<!-- 总页数在10页以内 -->
		
		
			
			
			
			
			
				<li class="disabled"><a href="#">下页</a></li>
			
			
		
		
		
		<!-- 总页数大于10页以 -->
		
		<li class="disabled"><a href="#">共1页</a></li>
	</ul>
</nav>
	
				
			<div class="text-center">			
				<input type="button" value="确定" class="btn btn-primary" onclick="returnPopValue();">
				<input type="button" value="取消" class="btn" onclick="closeWin();">
			</div>

		</div>
	</div>	
</div>

</body>
</html>