<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./cloud_oa/js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./cloud_oa/js/jquery.js"></script>
<script type="text/javascript" src="./cloud_oa/js/bootstrap/js/bootstrap.js"></script>
<link href="./cloud_oa/css/style.css" rel="stylesheet" type="text/css">
<link href="./cloud_oa/css/sb-admin.css" rel="stylesheet">
<script type="text/javascript" src="./cloud_oa/js/Validform/js/Validform_v5.3.2.js"></script>
<link rel="stylesheet" type="text/css" href="/cloud_oa/css/common.css">
<title>组织机构</title>
</head>
<body>
	<div class="container-fluid">
		<div class="col-md-12">
			<div class="list-group" align="center" style="font-size:14px;">
		   		<a target="content" href="工作安排-员工.html" class="list-group-item">全体员工</a>
		   		
		   			<a target="content" href="工作安排-员工.html" class="list-group-item">
		   			经理部
		   			</a>
		   		
		   			<a target="content" href="工作安排-员工.html" class="list-group-item">
		   			行政部
		   			</a>
		   		
		   			<a target="content" href="工作安排-员工.html" class="list-group-item">
		   			财务部
		   			</a>
		   		
		   			<a target="content" href="工作安排-员工.html" class="list-group-item">
		   			车队
		   			</a>
		   		
		   			<a target="content" href="工作安排-员工.html" class="list-group-item">
		   			外派部
		   			</a>
		   		
		   			<a target="content" href="工作安排-员工.html" class="list-group-item">
		   			人力资源部
		   			</a>
		   		
	   		</div>           
	      </div>	      
      </div>
</body>
</html>