<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="./cloud_oa/js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./cloud_oa/js/jquery.js"></script>
<script type="text/javascript" src="./cloud_oa/js/bootstrap/js/bootstrap.js"></script>
<link href="./cloud_oa/css/style.css" rel="stylesheet" type="text/css">
<link href="./cloud_oa/css/sb-admin.css" rel="stylesheet">
<script type="text/javascript" src="./cloud_oa/js/work.js"></script>
<script type="text/javascript" src="./cloud_oa/js/Validform/js/Validform_v5.3.2.js"></script>
<link rel="stylesheet" type="text/css" href="./cloud_oa/css/common.css">


<title>部门员工</title>
</head>
<body>
	
	<table class="table table-hover table-striped">
     	<thead>
	     	<tr style="font-size:14px;">
	     		<th style="text-align:center">姓名</th>
	     		<th style="text-align:center">部门</th>
	     		<th style="text-align:center">职位</th>
	     		<th style="text-align:center">操作</th>
	     	</tr>
     	</thead>
          
            <tr style="font-size:14px;" align="center">
              <td>包芳松</td>
              <td>车队</td>
              <td>车队管理</td>
              <td>
              	<div class="dropdown">
				<button type="button" class="btn btn-default btn-xs dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">
					操作
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="工作安排-员工.html">设置为读者</a>
					</li>
					<li>
						<a href="工作安排-员工.html">设置为代办</a>
					</li>
				</ul>
			</div>				          	
              </td>
            </tr>
          
            <tr style="font-size:14px;" align="center">
              <td>林栋之</td>
              <td>财务部</td>
              <td>财务出纳</td>
              <td>
              	<div class="dropdown">
				<button type="button" class="btn btn-default btn-xs dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">
					操作
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="工作安排-员工.html">设置为读者</a>
					</li>
					<li>
						<a href="工作安排-员工.html">设置为代办</a>
					</li>
				</ul>
			</div>				          	
              </td>
            </tr>
          
            <tr style="font-size:14px;" align="center">
              <td>张三</td>
              <td>人力资源部</td>
              <td>部门经理</td>
              <td>
              	<div class="dropdown">
				<button type="button" class="btn btn-default btn-xs dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">
					操作
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="工作安排-员工.html">设置为读者</a>
					</li>
					<li>
						<a href="工作安排-员工.html">设置为代办</a>
					</li>
				</ul>
			</div>				          	
              </td>
            </tr>
           
   </table>
   <nav class="text-center">
		<ul class="pagination">
	
			
				<li class="disabled"><a href="#">上页</a></li>
				<li class="active"><a href="#">1</a></li>
			
			
			
			
			<!-- 总页数在10页以内 -->
			
			
				
				
					
						
						
							<li><a href="?pageNum=2&departmentId=4">2</a></li>
						
					
				
				
				
					<li><a href="?pageNum=2&departmentId=4">下页</a></li>
				
				
				
				
			
			
			
			<!-- 总页数大于10页以 -->
			
			<li class="disabled"><a href="#">共2页</a></li>
		</ul>
	</nav>
	
	
	
</body>
</html>