




<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./cloud_oa/js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./cloud_oa/js/jquery.js"></script>
<script type="text/javascript" src="./cloud_oa/js/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="./cloud_oa/js/layer/layer.js"></script>
<script type="text/javascript" src="./cloud_oa/js/Validform/js/Validform_v5.3.2.js"></script>
<link rel="stylesheet" type="text/css" href="./cloud_oa/css/common.css">
<link href="./cloud_oa/css/style.css" rel="stylesheet" type="text/css">
<link href="./cloud_oa/css/sb-admin.css" rel="stylesheet">
<script type="text/javascript">
	
	function arr(empId,pageNum) {
		layer.open({
			type: 2,
			title: '安排工作',
			closeBtn:2,
			maxmin: false,
			shadeClose: false, //点击遮罩关闭层
			area : ['790px' , '400px'],
			content: '工作安排-插入.html'
		});	
	}
	
	function arrMy(empId){	
			layer.open({
				type: 2,
				title: '安排工作',
				maxmin: false,
				closeBtn:2,
				shadeClose: false, //点击遮罩关闭层
				area : ['790px' , '400px'],
				content: '工作安排-插入.html'
			});	
		}
</script>
<title>安排工作</title>
</head>
<body>
	<table class="table table-hover table-condensed table-striped">
    	<tr style="font-size:14px;" align="center">
    		<th style="text-align:center">姓名</th>
    		<th style="text-align:center">部门</th>
    		<th style="text-align:center">职位</th>
    		<th style="text-align:center">操作</th>
    	</tr>
         
           <tr style="font-size:14px;" align="center">
             <td>殷建</td>
             <td>外派部</td>
             <td>外派管理员</td>
             <td>
				<a href="javascript:arr(4,1);" class="btn btn-primary btn-xs">安排工作</a>			
             </td>
           </tr>
         
           <tr style="font-size:14px;" align="center">
             <td>李悦</td>
             <td>外派部</td>
             <td>部门经理</td>
             <td>
				<a href="javascript:arr(6,1);" class="btn btn-primary btn-xs">安排工作</a>			
             </td>
           </tr>
          
	</table>
	

<nav class="text-center">
	<ul class="pagination">

		
			<li class="disabled"><a href="#">上页</a></li>
			<li class="active"><a href="#">1</a></li>
		
		
		
		
		<!-- 总页数在10页以内 -->
		
		
			
			
			
			
			
				<li class="disabled"><a href="#">下页</a></li>
			
			
		
		
		
		<!-- 总页数大于10页以 -->
		
		<li class="disabled"><a href="#">共1页</a></li>
	</ul>
</nav>
 
	<div align="center">
		<a href="javascript:arrMy(6);" class="btn btn-primary col-sm-8 col-sm-offset-2">添加新的工作</a>
	</div>
</body>
</html>