<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>增加部门</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
    <style>
        body{
            min-height: 100vh;
            background-image: linear-gradient(120deg, #3498db, #8e44ad);
        }
        .text-muted{
            color: black;
        }
        a{
            color: black;
            font-family: "Microsoft YaHei",sans-serif;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="masthead">
        <h3 class="text-muted">DLNU OA</h3>
        <nav>
            <ul class="nav nav-justified">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">部门管理</a></li>
                <li><a href="#">员工管理</a></li>
                <li><a href="#">职位管理</a></li>
                <li><a href="#">个人信息管理</a></li>
                <li><a href="#">登陆</a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
<script src="./js/jquery-3.4.1.js"></script>
<script src="./js/bootstrap.js"></script>
<script src="./js/toastr.min.js"></script>
<script src="./js/dept.js"></script>


</html>