
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OA</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link rel="stylesheet" href="css/uikit.css">-->

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">

</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">DLNU - OA</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/newIndex">主页</a></li>
                            <li><a href="#">部门管理</a></li>
                            <li><a href="#">员工管理</a></li>
                            <li><a href="#">职称管理</a></li>
                            <li><a href="#">个人信息管理</a></li>
                            <li><a href="#">吴焓</a></li>


                        </ul>
                    </nav>
                </div>
            </div>




            <div class="inner cover">
                <h1 class="cover-heading">欢迎使用大连民族大学自动化办公系统</h1>
                <p class="lead">
                    正在开发新功能
                </p>
                <p class="lead">
                    <a href="/login" class="btn btn-lg btn-default">加入我们</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>版权所有 <a href="http://39.106.16.234">Apple</a>,  <a href="http://39.106.16.234">@Apple</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script src="js/uikit.js"></script>-->
</body>
</html>
