<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OA</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/Vue/css/bootstrap.css">
    <!--    <link rel="stylesheet" href="css/uikit.css">-->

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
    <style>
        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
            background-color: rgba(0,0,0,0);
            border-color: #0f0f0f;
        }
        #avatar{
            width: 30px;
            height: 30px;
            display: inline;
        }
    </style>



</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a href="/welcome">DLNU - OA</a></h3>
                    <nav>
                        <ul class="nav masthead-nav ">
                            <li class="active"><a href="/welcome">主页</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"  href="#">系统管理<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/systemManage/deptManage">部门管理</a>
                                    </li>
                                    <li>
                                        <a href="#">员工管理</a>
                                    </li>
                                    <li>
                                        <a href="#">职位管理</a>
                                    </li>
                                    <li>
                                        <a href="#">角色管理</a>
                                    </li>
                                    <li>
                                        <a href="#">权限管理</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">车辆管理</a></li>
                            <li><a href="/personCenter/myInfo">个人中心</a></li>
                            <li class="dropdown">
                                <a id="sessionInfo"    class="dropdown-toggle" data-toggle="dropdown" ondblclick="window.location.href='/login'">
                                    <img id="avatar"  v-bind:src="avatar==null? ` /images/upAvatar.jpg ` : avatar " alt="avatar" class="img-responsive img-circle">
                                   {{(empName==null)?"双击登录":empName}}  <b class="caret"></b>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a id="action-1" href="#">功能</a>
                                    </li>
                                    <li>
                                        <a href="#">功能</a>
                                    </li>
                                    <li>
                                        <a href="#">功能</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">切换用户</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/loginOut">退出</a>
                                    </li>
                                </ul>
                            </li>



                        </ul>
                    </nav>
                </div>
            </div>




            <div class="inner cover">
                <h1 class="cover-heading">欢迎使用大连民族大学自动化办公系统</h1>
                <p class="lead">
                    正在开发新功能
                </p>
                <p class="lead">
                    <a href="/login" class="btn btn-lg btn-default">加入我们</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>版权所有 <a href="http://39.106.16.234">Apple</a>,  <a href="http://39.106.16.234">@Apple</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>
<script src="/Vue/js/jquery.js"></script>
<script src="/Vue/js/vue.js"></script>
<script src="/Vue/js/axios.js"></script>
<script src="/Vue/js/lodash.min.js"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/Vue/js/bootstrap.js"></script>

<script src="/js/welcome.js"></script>
<script>
    $(function() {
        $(".dropdown-toggle").dropdown('toggle');
    });

    function test() {
        alert("sd");
    }
</script>
</body>
</html>
